{{ define "header" }}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<article>
	<section class="mx-auto content">
		<div class="c-rich-text">
			{{- .Content -}}
		</div>
	</section>

	{{ if (and .Site.Params.remark42SiteID .Params.comments) }}
		<div id="remark42"></div>
	{{ end }}
</article>
{{ end }}

{{ define "aside" }}
	{{ partial "page-aside.html" . }}
{{ end }}
{{ define "footer" }}
{{ partial "page-footer.html" . }}
{{ end }}